<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">

<dom-module id="clima-app">
    <template>
        <style include="shared-styles">
          .alert-error {
            background: #ffcdd2;
            border: 1px solid #f44336;
            border-radius: 3px;
            color: #333;
            font-size: 14px;
            padding: 10px;
          }
          .alert-ok {
           background:lightgreen;
           border: 1px solid green;
           border-radius: 3px;
           color: #333;
           font-size: 14px;
           padding: 10px;
          }
   
          :host {
            display: block;
    
            padding: 10px;
          }
          .wrapper-btns {
            margin-top: 15px;
          }
          paper-button.link {
           color: #757575;
          } 
          iron-input input {
            border: 0;
          }
        </style>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

        <div class="card">
	    <div class="row">
        	    <h2 class="col-lg-12">Clima en Buenos Aires</h2>
            </div>
            <table class="table table-striped">
            <tbody>
              <tr>
                <td>Temperatura actual: </td>
                <td>[[temp]]</td>
              </tr>
              <tr>
                <td>Temperatura máxima: </td>
                <td>[[temp_max]]</td>
              </tr>
              <tr>
                <td>Temperatura mínima: </td>
                <td>[[temp_min]]</td>
              </tr>
              <tr>
                <td>Nubosidad: </td>
                <td>[[nubes]]</td>
              </tr>
              <tr>
                <td>Presion: </td>
                <td>[[presion]]</td>
              </tr>
              <tr>
                <td>Humedad: </td>
                <td>[[humedad]]</td>
              </tr>
              <tr>
                <td>Velocidad viento: </td>
                <td>[[viento]]</td>
              </tr>
            </tbody>
            </table>
          <div class="wrapper-btns">
              <paper-button raised class="primary" on-tap="getClima">Obtener datos del clima</paper-button>
          </div>
      </template>
  <script>
    class ClimaApp extends Polymer.Element {
      static get is() { return 'clima-app'; }
      static get properties () {
        return {
		nubes: String,
		temp: String,
		temp_max: String,
		temp_min: String,
		presion: String,
		humedad: String, 
		viento: String
        }
      }

      _setReqBody() {
        this.$.signUpAjax.body = this.formData;
      }

      createUser () {
        this.message=""
        this.error=""
        if( ! this.formData.username || ! this.formData.password){
          this.error = "Username or password empty"
        } else {
          if(this.formData.password != this.formData.repeatPassword) {
            this.error = "Password does not match"
          } else {
            this.$.signUpAjax.url = 'http://76.220.156.90:3001/users/' + this.formData.username;
            this._setReqBody();
            this.$.signUpAjax.generateRequest();
          }
        }
      }

      getClima(){
	var request = new XMLHttpRequest();
        request.open('GET', 'http://api.openweathermap.org/data/2.5/forecast?id=3435910&units=metric&APPID=305ba9453ad56013b3c7a627d1c81581', false);
        request.setRequestHeader('Accept', 'application/json');
        request.send();
	var clima = JSON.parse(request.responseText)['list'][0];
	console.log(clima);
	this.nubes=clima['clouds']['all'];
	this.temp=clima['main']['temp'];
	this.temp_max=clima['main']['temp_max'];
	this.temp_min=clima['main']['temp_min'];
	this.presion=clima['main']['pressure'];
	this.humedad=clima['main']['humidity'];
	this.viento=clima['wind']['speed'];
	//console.table(request.responseText);
      }

      onResponseDolarGet (event){
           console.log(JSON.parse(event.detail.__data.response));
      }

      onResponse (event) {
        this.message="The user was created"
        this.formData={}
      }
      onError(event) {
        this.error = event.detail.request.__data.response;
      }
    }

    window.customElements.define(ClimaApp.is, ClimaApp);
  </script>
</dom-module>
