<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="shared-styles.html">

<dom-module id="cuentas-app">
  <template>
    <style include="shared-styles">

      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }

      .alert-ok {
       background:lightgreen;
       border: 1px solid green;
       border-radius: 3px;
       color: #333;
       font-size: 14px;
       padding: 10px;
      }

      :host {
        display: block;

        padding: 10px;
      }
      paper-button.link {
       color: #757575;
      }
      iron-input input {
        border: 0;
        width: 100%;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <iron-localstorage name="user-storage" value="{{storedUser}}" on-iron-localstorage-load="updateCuentas"></iron-localstorage>

    <iron-ajax
      id="newCuentaAjax"
      method="post"
      content-type="application/json"
      handle-as="text"
      on-response="onResponseCreate"
      on-error="onError">
    </iron-ajax>

    <iron-ajax
      id="getCuentasAjax"
      method="get"
      content-type="application/json"
      handle-as="text"
      on-response="onResponseGet"
      on-error="onError">
    </iron-ajax>

    <div class="card">
      <div class="container">
        <div class="row">
            <h2 class="col-lg-12">Cuentas disponibles</h2>
        </div>
        <table class="table table-striped">
          <thead>
            <th>Cuenta</th>
            <th>Moneda</th>
            <th>Monto</th>
          </thead>
          <tbody>
            <!--usamos un modulo de polymer para hacer la tabla-->
            <template is="dom-repeat" items="{{cuentas}}">
              <tr>
                <!--Llamo a cada elmento de clientes-->
                <td>[[item.cuenta]]</td>
                <td>[[item.moneda]]</td>
                <td>[[item.valor]]</td>
              </tr>
            </template>
          </tbody>
        </table>

        <!--        <paper-button class="primary" raised on-tap="getMovimientos">Recuperar movimientos</paper-button>-->
        <paper-button class="primary" raised on-tap="updateCuentas">Actualizar cuentas</paper-button>
        <template is="dom-if" if="[[altaCuenta]]">
          <paper-button class="primary" raised on-tap="activateFormCuenta">Alta cuenta</paper-button>
        </template>
        <hr>
        <template is="dom-if" if="[[message]]">
          <p class="alert-ok"><strong>OK:</strong> [[message]]</p>
        </template>
       
        <template is="dom-if" if="[[!altaCuenta]]">

          <template is="dom-if" if="[[error]]">
            <p class="alert-error"><strong>Error:</strong> [[error]]</p>
          </template>

          <paper-input-container>
            <label slot="input">Cuenta</label>
            <iron-input slot="input" bind-value="{{formData.cuenta}}">
              <input id="cuenta" type="text" value="{{formData.cuenta}}" placeholder="Cuenta">
            </iron-input>
          </paper-input-container>
          <paper-input-container>
            <label slot="input">Moneda</label>
            <iron-input slot="input" bind-value="{{formData.moneda}}">
              <input id="moneda" type="text" value={{formData.moneda}} placeholder="Moneda">
            </iron-input>
          </paper-input-container>

          <div class="wrapper-btns">
            <paper-button raised class="primary" on-tap="newCuenta">Crear</paper-button>

            <paper-button class="primary" raised on-tap="cancelNew">Cancelar</paper-button>
          </div>
        </template> 
      </div>
    </div>
  </template>

  <script>
    class CuentasApp extends Polymer.Element {
      static get is() { return 'cuentas-app'; }

      static get properties() {
        return {
          storedUser: Object,
          altaCuenta: {
            type: Boolean,
            value: true
          },
          cuentas: {
            type: Array,
            value: []
          },
          formData: {
            type: Object,
            value: {}
          }, 
          message: String,
          error: String
        }       
      }

      cleanValues(){
        console.log("inicializando cuentas")
        this.storedUser={}
        this.cuentas={};
        this.formData={};
        this.message="";
        this.error="";
      }

      getCuentas(){
        //this.movimientos=[{"fecha": "1/1/2019", "desc": "Compra leche", "value": 9}]
      }

      _setReqBody() {
        this.$.newCuentaAjax.body = this.formData;
      }

      activateFormCuenta(){
        this.message=""
        this.error=""
        this.altaCuenta=false
      }

      newCuenta(){
        //ver si necesito hacer set o no
        this.$.newCuentaAjax.url = 'http://ec2-18-229-143-231.sa-east-1.compute.amazonaws.com:3001/api/protected/users/' + this.storedUser.name + '/cuentas/' + this.formData.cuenta;
        this._setReqBody();
        this.$.newCuentaAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
        this.$.newCuentaAjax.generateRequest();
      }

      cancelNew() {
        this.formData = null;
        this.altaCuenta = true;
        updateCuentas()
      }

      updateCuentas() {
        this.$.getCuentasAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
        this.$.getCuentasAjax.url = 'http://ec2-18-229-143-231.sa-east-1.compute.amazonaws.com:3001/api/protected/users/' + this.storedUser.name + '/cuentas';                                   
        this.$.getCuentasAjax.generateRequest();
      }

      onResponseCreate (event) {
        this.message="Account successly created"
        this.error=""
        this.formData={};
        this.altaCuenta=true;
        this.updateCuentas();
      }

      onResponseGet (event){
          this.cuentas = JSON.parse(event.detail.__data.response);
      }

      onError(event) {
          this.error = event.detail.request.__data.response;
      }
    }

    window.customElements.define(CuentasApp.is, CuentasApp);
  </script>
</dom-module>
