<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">

<dom-module id="home-app">
  <template>
  <style>
    .responsive {
      width: 100%;
      height: auto;
    }
  </style>

  <!--<iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>-->
  <brum-global-variable key="userData" value-changed="actualizarValor" value="{{storedUser}}"></brum-global-variable>
    <div class="card">
      <div id="imagen">
        <img src="images/init.jpg" alt="Pagina principal banco" class="responsive" />
  </template>

  <script>
    class HomeApp extends Polymer.Element {
      static get is() { return 'home-app'; }
      static get properties(){
        return {
          storedUser:Object
        };
      }
    }
    window.customElements.define(HomeApp.is, HomeApp);
  </script>
</dom-module>
