<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="log-out.html">

<dom-module id="login-app">
  <template>
    <style include="shared-styles">
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }

      :host {
        display: block;

        padding: 10px;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      paper-button.link {
       color: #757575;
      } 
      iron-input input {
        border: 0;
        width: 100%;
      }
    </style>

    <iron-ajax
      id="registerLoginAjax"
      method="post"
      content-type="application/json"
      handle-as="text"
      on-response="onResponse"
      on-error="onError">
    </iron-ajax>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <!--    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>-->

    <app-location route="{{route}}"></app-location>

    <div class="card">
      <!--Muestro si estoy autenticado-->
      <h1>[[storedUser.name]]</h1>
      <template is="dom-if" if="[[storedUser.loggedin]]">
        <div id="authenticated">
          [[storedUser]]
          <p>You are currently logged in. You can access <a href="[[rootPath]]home-app">Home Page</a>!</p>
          <log-out></log-out>
        </div>
      </template>

      <template is="dom-if" if="[[!storedUser.loggedin]]">
        <h1>Log In</h1>
        <p><strong>Log in</strong> or <strong>sign up</strong> to access Trabajo Practitioner!</p>

        <template is="dom-if" if="[[error]]">
          <p class="alert-error"><strong>Error:</strong> [[error]]</p>
        </template>

        <paper-input-container>
          <label slot="input">Username</label>
          <iron-input slot="input" bind-value="{{formData.username}}">
		  <input id="username" type="text" value={{formData.username}} placeholder="Username">
          </iron-input>
        </paper-input-container>
        <paper-input-container>
          <label>Password</label>
          <iron-input slot="input" bind-value="{{formData.password}}">
            <input id="password" type="password" value={{formData.password}} placeholder="Password">
          </iron-input>
        </paper-input-container>
        <div class="wrapper-btns">
          <paper-button raised class="primary" on-tap="postLogin">Log In</paper-button>
          <paper-button class="link" on-tap="postRegister">Sign Up</paper-button>
        </div>
      </template>
   </div>
  </template>


  <script>
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties () {
        return {
          formData: {
            type: Object,
            value: {}
          },
          storedUser: Object,
          error: String
          }
      }
      _setReqBody() {
        this.$.registerLoginAjax.body = this.formData;
      }

      postLogin() {
        this.$.registerLoginAjax.url = 'http://ec2-18-229-143-231.sa-east-1.compute.amazonaws.com:3001/sessions/create';
        this._setReqBody();
        this.$.registerLoginAjax.generateRequest();
      }
      initializeStoredUser(){
        storedUser = {name:"", id_token:"", access_token:"", loggedin:false}
      }

      postRegister() {
        this.set('route.path','/sign-up');
      }

      onResponse(event) {
        var response = JSON.parse(event.detail.response);
        if (response.id_token) {
          this.error = '';
          this.storedUser = {
            name: this.formData.username,
            id_token: response.id_token,
            access_token: response.access_token,
            loggedin: true
          };

          this.set('route.path','/movimientos-app');
        }
      
        // reset form data
        this.formData = {};
        this.dispatchEvent(new CustomEvent("mievento", {"detail":this.storedUser}))
      }
      
      onError(event) {
        this.error = event.detail.request.xhr.response;
      }

      actVariable(e) {
        this.set("storedUser", e.detail)
        this.dispatchEvent(new CustomEvent("mievento", {"detail":this.storedUser}))
      }
    }
    
    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
