<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="../bower_components/vaadin-item/vaadin-item.html">
<link rel="import" href="shared-styles.html">

<dom-module id="movimientos-app">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      paper-button.link {
       color: #757575;
      }
      iron-input input {
        border: 0;
        width: 100%;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      select {
        width: 100%;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }

      .alert-ok {
       background:lightgreen;
       border: 1px solid green;
       border-radius: 3px;
       color: #333;
       font-size: 14px;
       padding: 10px;
      }

    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <iron-localstorage name="user-storage" value="{{storedUser}}" on-iron-localstorage-load="updateMovimientos"></iron-localstorage>

    <iron-ajax
      id="newMovimientoAjax"
      method="post"
      content-type="application/json"
      handle-as="text"
      on-response="onResponseCreate"
      on-error="onError">
    </iron-ajax>

    <iron-ajax
      id="getCuentasAjax"
      method="get"
      content-type="application/json"
      handle-as="text"
      on-response="onResponseCuentasGet"
      on-error="onError">
    </iron-ajax>

    <iron-ajax
      id="getMovimientosAjax"
      method="get"
      content-type="application/json"
      handle-as="text"
      on-response="onResponseMovimientosGet"
      on-error="onError">
    </iron-ajax>

    <div class="card">
      <div class="container">
        <div class="row">
            <h2 class="col-lg-12">Listado de movimientos</h2>
        </div>
        <table class="table table-striped">
          <thead>
            <th>Fecha</th>
            <th>Cuenta</th>
            <th>Tipo</th>
            <th>Descripción</th>
            <th>Valor</th>
          </thead>
          <tbody>
            <!--usamos un modulo de polymer para hacer la tabla-->
            <template is="dom-repeat" items="{{movimientos}}">
              <tr>
                <!--Llamo a cada elmento de clientes-->
                <td>[[item.fecha]]</td>
                <td>[[item.cuenta]]</td>
                <td>[[item.tipo]]</td>
                <td>[[item.descripcion]]</td>
                <td>[[item.valor]]</td>
              </tr>
            </template>
          </tbody>
        </table>

        <!--        <paper-button class="primary" raised on-tap="updateMovimientos">Recuperar movimientos</paper-button>-->
        <template is="dom-if" if="[[altaMovimiento]]">
          <paper-button class="primary" raised on-tap="activateFormMovimiento">Alta movimiento</paper-button>
        </template>
        <hr>

        <template is="dom-if" if="[[message]]">
          <p class="alert-ok"><strong>OK:</strong> [[message]]</p>
        </template>

        <template is="dom-if" if="[[!altaMovimiento]]">
          
          <template is="dom-if" if="[[error]]">
            <p class="alert-error"><strong>Error:</strong> [[error]]</p>
          </template>

          Seleccione una cuenta<br>
          <select class="browser-default custom-select custom-select-lg mb-3" value="{{formData.cuenta::input}}">
            <option value="" hidden selected>Seleccione</option>
            <template is="dom-repeat" items="{{cuentas}}">
              <option value="[[item.cuenta]]">[[item.cuenta]]</option>
            </template>
          </select>    
          <br>

          Seleccione tipo de movimiento<br>
          <select class="browser-default custom-select custom-select-lg mb-3" value="{{formData.tipo::input}}">
            <option value="" hidden selected>Seleccione</option>
            <template is="dom-repeat" items="{{tipos}}">
              <option value="[[item.value]]">[[item.value]]</option>
            </template>
          </select>    
          <br>
          <vaadin-date-picker label="Fecha" value={{formData.fecha}}></vaadin-date-picker>

          <paper-input-container>
            <label slot="input">Descripción</label>
            <iron-input slot="input" bind-value="{{formData.descripcion}}">
              <input id="descripcion" type="text" value="{{formData.descripcion}}" placeholder="Descripción">
            </iron-input>
          </paper-input-container>
          <paper-input-container>
             <label slot="input">Negocio</label>
             <iron-input slot="input" bind-value="{{formData.negocio}}">
               <input id="negocio" type="text" value="{{formData.negocio}}" placeholder="Negocio">
             </iron-input>
          </paper-input-container>
          <paper-input-container>
            <label slot="input">Valor</label>
            <iron-input slot="input" bind-value="{{formData.valor}}">
              <input id="valor" type="number" value="{{formData.valor}}" placeholder="Valor">
            </iron-input>
          </paper-input-container>

          <div class="wrapper-btns">
            <paper-button raised class="primary" on-tap="newMovimiento">Crear</paper-button>
            <paper-button class="primary" raised on-tap="cancelNew">Cancelar</paper-button>
          </div>
        </template> 
      </div>
    </div>
  </template>

  <script>
    class MovimientosApp extends Polymer.Element {
      static get is() { return 'movimientos-app'; }

      static get properties() {
        return {
          storedUser: Object,
          altaMovimiento: {
            type: Boolean,
            value: true
          },
          movimientos: {
            type: Array,
            value: []
          },
          formData: {
            type: Object,
            value: {}
          },
          cuentas: Object,
          tipos: {
            type: Array,
            value: [{'value': 'Egreso'},{'value': 'Ingreso'}]
          }
        }       
      }

      updateMovimientos(){
        this.$.getMovimientosAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
        this.$.getMovimientosAjax.url = 'http://ec2-18-229-143-231.sa-east-1.compute.amazonaws.com:3001/api/protected/users/' + this.storedUser.name + '/movimientos/';
        this.$.getMovimientosAjax.generateRequest();
      }

      _setReqBody() {
        this.$.newMovimientoAjax.body = this.formData;
      }

      activateFormMovimiento(){
        this.set("altaMovimiento", false);
        this.updateCuentas();
      }

      updateCuentas() {
        this.$.getCuentasAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
        this.$.getCuentasAjax.url = 'http://ec2-18-229-143-231.sa-east-1.compute.amazonaws.com:3001/api/protected/users/' + this.storedUser.name + '/cuentas';                                   
        this.$.getCuentasAjax.generateRequest();
      }

      newMovimiento(){
        var date = new Date();
        var timestamp = date.getTime();
        this.formData.timestamp=timestamp;

        this._setReqBody();
        this.$.newMovimientoAjax.url = 'http://ec2-18-229-143-231.sa-east-1.compute.amazonaws.com:3001/api/protected/users/' + this.storedUser.name + '/cuentas/' + this.formData.cuenta + '/movimientos/' + this.formData.timestamp;                                   
        this.$.newMovimientoAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
        this.$.newMovimientoAjax.generateRequest();
      }

      onResponseCuentasGet (event){
          this.cuentas= JSON.parse(event.detail.__data.response);
      }

      onResponseMovimientosGet (event){
        this.movimientos= JSON.parse(event.detail.__data.response);
      }

      onError(event) {
          this.error = event.detail.request.__data.response;
      }
      
      onResponseCreate (event) {
        this.message="Transaction successly created"
        this.error=""
        this.formData={};
        this.altaMovimiento=true;
        this.updateMovimientos();
      }

      cancelNew() {
        this.formData = null;
        this.altaMovimiento = true;
      }
    }

    window.customElements.define(MovimientosApp.is, MovimientosApp);
  </script>
</dom-module>
