<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">

<dom-module id="sign-up">
    <template>
        <style include="shared-styles">
          .alert-error {
            background: #ffcdd2;
            border: 1px solid #f44336;
            border-radius: 3px;
            color: #333;
            font-size: 14px;
            padding: 10px;
          }
          .alert-ok {
           background:lightgreen;
           border: 1px solid green;
           border-radius: 3px;
           color: #333;
           font-size: 14px;
           padding: 10px;
          }
   
          :host {
            display: block;
    
            padding: 10px;
          }
          .wrapper-btns {
            margin-top: 15px;
          }
          paper-button.link {
           color: #757575;
          } 
          iron-input input {
            border: 0;
          }
        </style>
        <!--Para ruteo luego de autenticar-->
        <app-location route="{{route}}"></app-location>
    
        <iron-ajax
          id="signUpAjax"
          method="post"
          content-type="application/json"
          handle-as="text"
          on-response="onResponse"
          on-error="onError">
        </iron-ajax>
    
        <div class="card">
          <template is="dom-if" if="[[storedUser.loggedin]]">
            <div id="authenticated">
              <p>You are currently logged in.</p>
            </div>
          </template>
    
          <template is="dom-if" if="![[storedUser.loggedin]]">
            <h1>Sign Up</h1>
            <p>Create access user</p>

            <template is="dom-if" if="[[error]]">
              <p class="alert-error"><strong>Error:</strong> [[error]]</p>
            </template>

             <template is="dom-if" if="[[message]]">
              <p class="alert-ok"><strong>OK:</strong> [[message]]</p>
            </template>
    
            <paper-input-container>
              <label slot="input">Username</label>
              <iron-input slot="input" bind-value="{{formData.username}}">
                <input id="username" type="text" value="{{formData.username}}" placeholder="Username">
              </iron-input>
            </paper-input-container>
            <paper-input-container>
              <label slot="input">Password</label>
              <iron-input slot="input" bind-value="{{formData.password}}">
                <input id="password" type="password" value="{{formData.password}}" placeholder="Password">
              </iron-input>
            </paper-input-container>
            <paper-input-container>
              <label slot="input">Repeat Password</label>
              <iron-input slot="input" bind-value="{{formData.repeatPassword}}">
                <input id="password" type="password" value="{{formData.repeatPassword}}" placeholder="Repeat password">
              </iron-input>
            </paper-input-container>
            <div class="wrapper-btns">
              <paper-button raised class="primary" on-tap="createUser">Create</paper-button>
            </div>
          </template>
       </div>
      </template>
  <script>
    class SignUp extends Polymer.Element {
      static get is() { return 'sign-up'; }
      static get properties () {
        return {
          formData: {
            type: Object,
            value: {}
          },
          error: String,
          message: String
        }
      }

      _setReqBody() {
        this.$.signUpAjax.body = this.formData;
      }

      createUser () {
        this.message=""
        this.error=""
        if( ! this.formData.username || ! this.formData.password){
          this.error = "Username or password empty"
        } else {
          if(this.formData.password != this.formData.repeatPassword) {
            this.error = "Password does not match"
          } else {
            
            this.$.signUpAjax.url = 'http://ec2-18-229-143-231.sa-east-1.compute.amazonaws.com:3001/users/' + this.formData.username;
            this._setReqBody();
            this.$.signUpAjax.generateRequest();
          }
        }
      }

      onResponse (event) {
        this.message="The user was created"
        this.formData={}
      }
      onError(event) {
        this.error = event.detail.request.__data.response;
      }
    }

    window.customElements.define(SignUp.is, SignUp);
  </script>
</dom-module>
