<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="my-icons.html">

<link rel="import" href="clima-app.html">
<link rel="lazy-import" href="sign-up.html">
<link rel="lazy-import" href="home-app.html">
<link rel="lazy-import" href="secret-quotes.html">
<link rel="lazy-import" href="login-app.html">
<link rel="lazy-import" href="log-out.html">
<link rel="lazy-import" href="movimientos-app.html">
<link rel="lazy-import" href="cuentas-app.html">
<link rel="lazy-import" href="my-view404.html">


<dom-module id="trabajo-practitioner">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;

        display: block;
      }
      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }

      .img-clima {
	width:40px;
      }

      iron-selector button {
        width: 100%;
      }
      iron-selector paper-button{
        width: 100%;
      }
      paper-button.indigo {
        background-color: var(--paper-indigo-500);
        color: white;
        --paper-button-raised-keyboard-focus: {
          background-color: var(--paper-pink-a200) !important;
          color: white !important;
        };
      }
    </style>

    <iron-localstorage name="user-storage" value="{{storedUser}}" iron-local-storage-load-empty="resetValues"></iron-localstorage>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <!-- Drawer content -->
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
        <app-toolbar></app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <a name="home-app" href="[[rootPath]]home-app"><paper-button raised class="custom indigo">Home</paper-button></a>
          <br>
          <template is="dom-if" if="{{storedUser.loggedin}}">
            <a name="cuentas-app" href="[[rootPath]]cuentas-app"><paper-button raised class="custom indigo">Cuentas</paper-button></a>
            <br>
            <a name="cuentas-app" href="[[rootPath]]movimientos-app"><paper-button raised class="custom indigo">Movimientos</paper-button></a>
            <br>
          </template>
        </iron-selector>
      </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title>Trabajo Practitioner</div>
	    <a class="img-clima" name="clima-app" href="[[rootPath]]clima-app"><img class=img-clima src="https://trabajopractitioner.s3-sa-east-1.amazonaws.com/weather.png"/></a>
	    <!--<a name="clima-app" href="[[rootPath]]clima-app"><button class="btn btn-warning" type="button" name="button"><img src="https://trabajopractitioner.s3-sa-east-1.amazonaws.com/weather.png"/></button></a>-->
              <template is="dom-if" if="{{!storedUser.loggedin}}">
                <a name="login-app" href="[[rootPath]]login-app"><button class="btn btn-success" type="button" name="button">Ingresar</button></a>
              </template>
              <template is="dom-if" if="{{storedUser.loggedin}}">
                  <a name="login-app" href="[[rootPath]]login-app"><button class="btn btn-info" type="button" name="button">Salir</button></a>
              </template>
          </app-toolbar>
        </app-header>

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="not-found"
            role="main">
          <home-app id="home" name="home-app"></home-app>
          <login-app id="login" name="login-app" on-mievento="actVariable"></login-app>
          <log-out id="log" name="log-out" on-mieventologout="actVariableLogout"></log-out>
          <movimientos-app id="movimientos" name="movimientos-app"></movimientos-app>
          <cuentas-app id="cuentas" name="cuentas-app"></cuentas-app>
          <not-found id="notfound" name="not-found"></not-found>
          <sign-up id="signup" name="sign-up"></sign-up>
          <clima-app name=clima-app></clima-app>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class TrabajoPractitioner extends Polymer.Element {
      static get is() { return 'trabajo-practitioner'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          storedUser: Object
        }
      }
      resetValues(){
        this.getDolar()
      }
      actVariable(e) {
        this.set("storedUser", e.detail);
      }

      onResponseCuentasGet (event){
           console.log(JSON.parse(event.detail.__data.response));
      }
    
      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to in that case.
        this.page = page || 'home-app';

        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        const resolvedPageUrl = this.resolveUrl(page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _showPage404() {
        this.page = 'not-found';
      }
    }

    window.customElements.define(TrabajoPractitioner.is, TrabajoPractitioner);
  </script>
</dom-module>
